@Model IEnumerable<Patient>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="searchString" class="form-control" placeholder="Search by fullname...">
                <span class="input-group-btn">
                    <button type="submit" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var patient in Model)
        {
            <div class="box-footer box-comments">
                <div class="box-comment">
                    <!-- User image -->
                    <img class="img-circle img-sm" src="img/user1-128x128.jpg" alt="User Image">

                    <div class="comment-text">
                        <span class="username">
                            <a href="#">@patient.FullName</a><span class="text-muted pull-right"><i class="fa fa-phone"></i> @patient.Phone1</span>
                        </span><!-- /.username -->
                        @patient.Notes                        
                    </div>
                    <!-- /.comment-text -->
                </div>
            </div>
        }
    </div>
</div>
